*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* .example{
    width: 500px;
    height: 300px;
     
    background-image: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%); ;
} */